<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-PEPSWEB-20150402054311.mdf;Initial Catalog=aspnet-PEPSWEB-20150402054311;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms"
          assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      L'appartenance ASP.NET est désactivée dans ce modèle. Activez le lien suivant http://go.microsoft.com/fwlink/?LinkId=301889 pour en savoir plus sur la prise en charge de l'appartenance ASP.NET dans ce modèle
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      Le rôle d’appartenances ASP.NET est désactivé dans cet exemple. Activez le lien suivant http://go.microsoft.com/fwlink/?LinkId=301889 pour en savoir plus sur la prise en charge de l'appartenance ASP.NET dans ce modèle
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        Le rôle d’appartenances ASP.NET est désactivé dans cet exemple. Activez le lien suivant http://go.microsoft.com/fwlink/?LinkId=301889 pour en savoir plus sur la prise en charge de l'appartenance ASP.NET dans ce modèle
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Si vous déployez un environnement cloud ayant de multiples instances de serveur Web,
            vous devez changer le mode d'état de session de "InProc" à "Custom". De plus,
            changez la chaîne de connexion nommée "DefaultConnection" pour vous connecter à une instance
            de SQL Server (notamment SQL Azure et SQL  Compact) à la place de SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActifService" />
        <binding name="BasicHttpBinding_IExchangeRateService" />
        <binding name="BasicHttpBinding_IInterestRateService" />
        <binding name="BasicHttpBinding_IXMLService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://129.88.240.48:8080/ActifService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IActifService" contract="APIFiMag.IActifService"
        name="BasicHttpBinding_IActifService" />
      <endpoint address="http://129.88.240.48:8080/ExchangeRateService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeRateService"
        contract="APIFiMag.IExchangeRateService" name="BasicHttpBinding_IExchangeRateService" />
      <endpoint address="http://129.88.240.48:8080/InterestRateService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterestRateService"
        contract="APIFiMag.IInterestRateService" name="BasicHttpBinding_IInterestRateService" />
      <endpoint address="http://129.88.240.48:8080/XMLService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IXMLService" contract="APIFiMag.IXMLService"
        name="BasicHttpBinding_IXMLService" />
    </client>
  </system.serviceModel>
</configuration>